<div class="flex" role="group" aria-label="Theme selection">
  @for (opt of options; track opt.value) {
    @let isCurrentPref = currentPref() === opt.value;
    <button
      type="button"
      (click)="themeService.setPreference(opt.value)"
      [attr.aria-pressed]="currentPref() === opt.value"
      class="rounded-full p-2 drop-shadow-none hover:enabled:scale-110 hover:enabled:drop-shadow-on-background/40 hover:enabled:drop-shadow-xs cursor-pointer disabled:cursor-default transition-all duration-300 ease-in-out"
      [class]="isCurrentPref ? 'bg-surface text-on-surface' : 'text-on-background'"
      [disabled]="isCurrentPref"
    >
      @switch (opt.value) {
        @case ('dark') {
          <app-icon name="moon" size="20" />
        }
        @case ('light') {
          <app-icon name="sun" size="20" />
        }
        @case ('system') {
          <app-icon name="computer" size="20" />
        }
      }
    </button>
  }
</div>
