<nav class="hidden md:block">
  <ul class="flex gap-4 text-lg">
    @for (link of navLinks; track link.href) {
    <li>
      <a [href]="link.href" (click)="closeNav()">{{ link.label }}</a>
    </li>
    }
  </ul>
</nav>

<nav class="relative md:hidden">
  <button (click)="toggleNav()" class="flex items-center cursor-pointer">
    <app-icon name="menu" size="24" />
  </button>
  <ul
    class="absolute right-0 flex flex-col items-center bg-gray-200 shadow rounded-xl p-4 gap-4 text-lg"
    [hidden]="!isNavOpen()"
  >
    @for (link of navLinks; track link.href) {
    <li>
      <a [href]="link.href" (click)="closeNav()">{{ link.label }}</a>
    </li>
    }
  </ul>
</nav>
