/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
  --color-primary: #294192;
  --color-on-primary: #e9ebf4;
  --color-background: #d4d4e1;
  --color-on-background: #0a0f32;
  --color-surface: #bfbdd4;
  --color-on-surface: #15122d;
}

[data-theme='dark'] {
  --color-primary: #294192;
  --color-on-primary: #e9ebf4;
  --color-background: #252544;
  --color-on-background: #dee0eb;
  --color-surface: #43436e;
  --color-on-surface: #deddeb;
}
